{% extends "base.html" %}

  {% block title %}

  {% endblock title%}

  {% block contents %}
    <h1 class="border-bottom" style="margin-bottom:50px">Home</h1>


    <div class="row">
      {% for artikel in latest_artikel_list %}
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'artikel:category' artikel.kategori 1%}">{{ artikel.kategori }}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ artikel.judul }} | {{ artikel.published|date }}</h6>
                <p class="card-text">{{ artikel.isi|truncatewords:5 }}</p>
                <a href="{% url 'artikel:detail' artikel.slug %}" class="btn btn-primary">Selengkapnya</a>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
  {% endblock contents%}
